<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/inventario.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>AmacSpa - Lista de Tareas</title>
</head>
<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modalFormContent"></div>
        </div>
    </div>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'image/logo.PNG' %}" alt="AmacSpa" class="logo-img">
        </div>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h3>{{ user.rol }}</h3>
        <a href="{% url 'vehiculo_lista' %}" class="sidebar-link"><i class="fas fa-car"></i> Vehículo</a>
        <a href="{% url 'mantencion' %}" class="sidebar-link"><i class="fas fa-file-alt"></i> Mantencion</a>
        <a href="{% url 'lista_tareas' %}" class="sidebar-link"><i class="fas fa-tasks"></i> Tareas</a>
        <a href="{% url 'lista_reportes' %}" class="sidebar-link"><i class="fas fa-chart-bar"></i> Reportes</a>
        <a href="{% url 'listarCliente' %}" class="sidebar-link"><i class="fas fa-users"></i> Clientes</a>
        <a href="{% url 'User' %}" class="sidebar-link"><i class="fas fa-user"></i> Personal</a>
        <a href="{% url 'inventario' %}" class="sidebar-link"><i class="fas fa-boxes"></i> Inventario</a>
        <a href="{% url 'home' %}" class="sidebar-link"><i class="fas fa-arrow-left"></i> Volver</a>
        <a href="{% url 'salir' %}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>

    <div class="content">
        <h1>Lista de Tareas</h1>
        <div class="actions-top">
            <a href="{% url 'agregar_tarea' %}" class="button small-button" id="myBtn" ><i class="fas fa-plus-circle"></i> Agregar Tarea</a>
        </div>

        {% if tareas %}
        <div class="horizontal-list-container">
            {% for tarea in tareas %}
            <div class="horizontal-product-item">
                <div class="horizontal-product-details">
                    <table>
                        <tr>
                            <td><h3>{{ tarea.titulo }}</h3></td>
                        </tr>
                        <tr>
                            <td>
                                <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
                                <p><strong>Estado:</strong> {{ tarea.estado|yesno:"Completada,Pendiente" }}</p>
                                <p><strong>Plazo:</strong> {{ tarea.plazo|default:"x" }} días</p>
                                <p><strong>Tipo de Trabajo:</strong> {{ tarea.tipo_trabajo }}</p>
                                <p><strong>Nota:</strong> {{ tarea.nota }}</p>
                                <p><strong>Fecha de Creación:</strong> {{ tarea.fechaCreacion }}</p>  
                                <p><strong>Fecha de Finalización:</strong> {{ tarea.fechaFinalizacion|default:"-" }}</p>
                                <p><strong>Asignado a:</strong> {{ tarea.asignado_a.get_full_name|default:"No asignado" }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="product-actions">
                    <a href="{% url 'editar_tarea' tarea.id %}" class="button small-button"><i class="fas fa-edit"></i> Editar</a>
    
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2>No se han agregado tareas</h2>
        {% endif %}
    </div>
    <div id="productoFormContainerP" style="display: none;">
        {% include 'agregar_tarea.html' %}
    </div>

    <script>
        function confirmarEliminacion(tareaId) {
            if (confirm('¿Estás seguro de que deseas eliminar esta tarea?')) {
                window.location.href = '/tareas/eliminar/' + tareaId + '/';
            }
        }
    </script>

</body>
</html>
