<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/mantencion.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
    <script src="{% static 'js/mantencion.js' %}" defer></script>
    <title>AmacSpa - Ingreso a Mantención</title>
</head>
<body>    
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'image/logo.PNG' %}" alt="AmacSpa" class="logo-img">
        </div>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h3>{{ user.rol }}</h3>
        <a href="{% url 'vehiculo_lista' %}" class="sidebar-link"><i class="fas fa-car"></i> Vehículo</a>
        <a href="{% url 'mantencion' %}" class="sidebar-link"><i class="fas fa-file-alt"></i> Mantención</a>
        <a href="{% url 'lista_tareas' %}" class="sidebar-link"><i class="fas fa-tasks"></i> Tareas</a>
        <a href="{% url 'lista_reportes' %}" class="sidebar-link"><i class="fas fa-chart-bar"></i> Reportes</a>
        <a href="{% url 'listarCliente' %}" class="sidebar-link"><i class="fas fa-users"></i> Clientes</a>
        <a href="{% url 'User' %}" class="sidebar-link"><i class="fas fa-user"></i> Personal</a>
        <a href="{% url 'inventario' %}" class="sidebar-link"><i class="fas fa-boxes"></i> Inventario</a>
        <a href="{% url 'home' %}" class="sidebar-link"><i class="fas fa-arrow-left"></i> Volver</a>
        <a href="{% url 'salir' %}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>          

    <div class="content">
        <div class="agregarproducto-form-container">
            <form method="POST" enctype="multipart/form-data" action="{% url 'mantencion' %}">
                <h1 class="agregarproducto-form-title">Ingreso a Mantención</h1>
                <h3 class="agregarproducto-form-subtitle">Información del Vehículo</h3>
                <table>
            {% csrf_token %}

                    <tr>
                        <td>
                            <div class="agregarproducto-form-group">
                                <label class="agregarproducto-form-label" for="{{ marcaForm.id_for_label }}">Marca</label>
                                {% csrf_token %}
                                {{ marcaForm }} 
                            </div></td>
                        <td> 
                            <br>
                            <div class="agregarproducto-form-group">
                                <label class="agregarproducto-form-label" for="{{ modeloForm.id_for_label }}">Modelo</label>
                                {% csrf_token %}
                                {{ modeloForm }}
                            </div></td>
                        

                    </tr>
                    <tr>
                        <td><div class="agregarproducto-form-group">
                            <label class="agregarproducto-form-label" for="{{ formVehiculo.id_for_label }}">Vehículo</label>
                            {% csrf_token %}
                            {{ formVehiculo }}
                        </div></td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="agregarproducto-form-subtitle">Detalles de la Mantención</h3>
                            <div class="agregarproducto-form-group">
                                <label class="agregarproducto-form-label" for="{{ formMantencion.id_for_label }}">Mantención</label>
                                {% csrf_token %}
                                {{ formMantencion }}
                            </div>
                        </td>
                    </tr>
                </table>
                
                <!-- Información del Vehículo -->
               
                
                
                <!-- Información de la Mantención -->
               
                <div class="agregarproducto-form-group">
                    <label class="agregarproducto-form-label" for="{{ servicioForm.id_for_label }}">Servicio</label>
                    {% csrf_token %}
                    {{ servicioForm }}
                </div>
                <div class="agregarproducto-form-group">
                    <label class="agregarproducto-form-label" for="{{ productoenMantencionFomr.id_for_label }}">Producto en Mantención</label>
                    {% csrf_token %}
                    {{ productoenMantencionFomr }}
                </div>

                <!-- Botón de Envío -->
                <div class="submit-button">
                    <button type="submit" class="agregarproducto-button">Agregar</button>
                </div>
            </form>
            <h4><a href="{% url 'inventario' %}" class="agregarproducto-form-back-link"><i class="fas fa-arrow-left"></i> Volver</a></h4>
        </div>
    </div>
</body>
</html>
