<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel='stylesheet' href="{% static 'css/usuario.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}" type=" text/css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type=" text/css">
    <script src="{% static 'js/vehiculo.js' %}" ></script>
    <title>AmacSpa - Clientes</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'image/logo.PNG' %}" alt="AmacSpa" class="logo-img">
        </div>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h3>{{ user.rol }}</h3>
        <a href="{% url 'vehiculo_lista' %}" class="sidebar-link"><i class="fas fa-car"></i> Vehículo</a>
        <a href="{% url 'User' %}" class="sidebar-link"><i class="fas fa-file-alt"></i> Fichas Electrónicas</a>
        <a href="{% url 'User' %}" class="sidebar-link"><i class="fas fa-tasks"></i> Tareas</a>
        <a href="{% url 'User' %}" class="sidebar-link"><i class="fas fa-chart-bar"></i> Reportes</a>
        <a href="{% url 'User' %}" class="sidebar-link"><i class="fas fa-users"></i> Clientes</a>
        <a href="{% url 'User' %}" class="sidebar-link"><i class="fas fa-user"></i> Personal</a>
        <a href="{% url 'inventario' %}" class="sidebar-link"><i class="fas fa-boxes"></i> Inventario</a>
        <a href="{% url 'home' %}" class="sidebar-link"><i class="fas fa-arrow-left"></i> Volver</a>
        <a href="{% url 'salir' %}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
    
    <div class="content">
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div id="modalFormContent"></div>
            </div>
        </div>
            <h1>Listado de Clientes</h1>
            <div class="actions-top"> 
                <div class="search-container">
                    <input type="text" placeholder="Buscar Cliente..." class="search-input">
                    <select class="category-filter">
                        <option value="">Filtrar por Nombre</option>
                        {% if  rols %}
    
                        {% for rol in rols %}
                        <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                        {% endfor %}
                        
                        {% else %}
                        <option value="SN"> Sin Clientes registrados </option>
                        {% endif %}
                    </select>
                </div>
                <div class="buttons-right">
                    <!-- <button href="" class="button small-button" id="myBtn" ><i class="fas fa-plus-circle"></i> Agregar Tipo de Producto</button> -->
                    <a href="{% url 'crearCliente' %}" class="button small-button" id="myBtn" ><i class="fas fa-plus-circle"></i> Agregar Cliente</a>
                </div>
            </div>
            {% if clientes %}
            <div class="horizontal-list-container">
                {% for cliente in clientes %}
                <div class="horizontal-product-item">
                    <!-- {% if vehiculos.imagen %} -->
                    <!-- <img src="{{ vehiculos.imagen.url }}" alt="{{ vehiculos.nombre }}" class="product-img-horizontal"> -->
                    <!-- {% else %} -->
                    <img src="{% static 'image/defecto.jpeg' %}" alt="{{ vehiculo.patente }}" class="product-img-horizontal">
                    <!-- {% endif %} -->
                    <div class="horizontal-product-details">
                        <table>
                            <tr>
                                <td>
                                    <h3>{{ cliente.nombre_contacto }} {{ cliente.cargo_contacto }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><strong>Email:</strong> {{ cliente.email }}</p>
                                    <p><strong>Rol:</strong> {{ cliente.telefono }}</p>
                                </td>
                                <td>
                        
                                </td>
                                
                        </table>
                    </div>
                    <div class="product-actions">
                        <a href="{% url 'editUser' cliente.id %}"  class="button small-button"><i class="fas fa-edit"></i> Editar</a> 
                        <a href="{% url 'delteUser' cliente.id %}" > <i class="fas fa-trash-alt"></i> Eliminar</a> 
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="empty-list">
                    <h2 style="text-align: center;">No se ha ingresado ningún Cliente</h2>
            </div>
            {% endif %}
        </div>
        <div id="productoFormContainerP" style="display: none;">
            {% include 'agregar.html' %}
        </div>
    </div>
        
</body>
</html>