<div class="agregarproducto-form-container">
    <form method="POST" enctype="multipart/form-data" action="{% url 'registro_vehiculo' %}">
        <h1 class="agregarproducto-form-title">Agregar Vehiculo</h1>
        {% csrf_token %}
        {% for field in vehiculo_form %}
        <div class="agregarproducto-form-group">
            <label class="agregarproducto-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if request.method == 'POST' %}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        <div class="submit-button">
            <button type="submit" class="agregarproducto-button">Agregar Vehiculo</button>
        </div>
    </form>
    <h4><a href="{% url 'vehiculo_lista' %}" ><i class="fas fa-arrow-left"></i> Volver</a></h4>

</div>
