<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <title>AmacSpa - Mantenimiento Mecanico</title>
    <style>
        
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'image/logo.PNG' %}" alt="AmacSpa" class="logo-img">
        </div>
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <h3>{{ user.rol }}</h3>
        <a href="{% url 'salir' %}" class="logout-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
    <div class="content">
        <div class="dataSectionsContainer">
            <a href="{% url 'vehiculo_lista' %}" class="headerLink" data-bg-image="{% static 'image/material.jpg' %}">
                <h1 class="tituloVehiculo">Vehiculo</h1>
                <div class="notificationBadge">3</div>
            </a>
            <a href="/" class="headerLink" data-bg-image="{% static 'image/ficha.jpg' %}">
                <h1>Fichas Electronicas</h1>
                <div class="notificationBadge">1</div>
            </a>
            <a href="{% url 'lista_tareas' %}" class="headerLink" data-bg-image="{% static 'image/tarea.jpg' %}">
                <h1>Tareas</h1>
            </a>
            <a href="{% url 'lista_reportes' %}" class="headerLink" data-bg-image="{% static 'image/reporte.jpeg' %}">
                <h1>Reportes</h1>
            </a>
            <a href="/" class="headerLink" data-bg-image="{% static 'image/cliente.jpeg' %}">
                <h1>Clientes</h1>
            </a>
            <a href="{% url 'User' %}" class="headerLink" data-bg-image="{% static 'image/personal.jpg' %}">
                <h1>Personal</h1>
            </a>
            <a href="{% url 'inventario' %}" class="headerLink" data-bg-image="{% static 'image/inventario.jpeg' %}">
                <h1>Inventario</h1>
            </a>
            <!-- Añadir más secciones según sea necesario -->
        </div>
    </div>
</body>
</html>
