<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Amac Spa - Mantención Mecánica</title>
    <style>
        
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{% static 'img/logo.PNG' %}" alt="Amac Spa">
        </div>
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <h3>{{user.rol}}</h3>
        <a href="{% url 'salir' %}"><i class="fas fa-star"></i>logaut</a>

    </div>
    <div class="content">
        <div class="data-sections-container">
            <a href="/fichas" class="header-link">
                <h1>Fichas Electrónicas</h1>
                <div class="notification-badge">3</div> <!-- Notificación de ejemplo -->
            </a>
            <a href="/tareas" class="header-link">
                <h1>Tareas</h1>
                <div class="notification-badge">1</div> <!-- Notificación de ejemplo -->
            </a>
            <a href="/clientes" class="header-link">
                <h1>Clientes</h1>
                <!-- Sin notificación -->
            </a>
            <a href="/fichas" class="header-link">
                <h1>Fichas Electrónicas</h1>
                <div class="notification-badge">3</div> <!-- Notificación de ejemplo -->
            </a>
            <a href="/fichas" class="header-link">
                <h1>Fichas Electrónicas</h1>
                <div class="notification-badge">3</div> <!-- Notificación de ejemplo -->
            </a>
            <a href="/fichas" class="header-link">
                <h1>Fichas Electrónicas</h1>
                <div class="notification-badge">3</div> <!-- Notificación de ejemplo -->
            </a>
            <a href="/fichas" class="header-link" >
                <h1>Fichas Electrónicas</h1>
                <div class="notification-badge">3</div> <!-- Notificación de ejemplo -->
            </a>
            <!-- Agrega los demás enlaces según necesites -->
        </div>
</body>
</html>
